<div class="container">
  <form action="/post/update/<%= @post.id %>" method="post"> <!--어디로, 어떻게-->
      <div class="form-group">
        <label for="exampleFormControlInput1">제목</label>
        <input name="input_title" value="<%=@post.title%>" type="text" class="form-control" id="exampleFormControlInput1" placeholder="제목넣어라">
      </div>
      
     
      <div class="form-group">
        <label for="exampleFormControlTextarea1">내용</label>
        <textarea name="input_content" class="form-control" id="exampleFormControlTextarea1" rows="10" placeholder="내용넣어라"><%= @post.content%></textarea>
      </div>
      <button type="submit" class="btn btn-info">수정하기</button>
  </form>
</div>
